<h1>Wählen Sie bitte eine Leistungskategorie</h1>
<!--<div class="card-container">-->
<!--<mat-card>Körperbezogene Pflegemaßnahmen</mat-card>-->
<!--<mat-card>Hauswirtschaftliche Hilfen</mat-card>-->
<!--<mat-card>Pflegerische Betreuungsmaßnahmen</mat-card>-->
<!--</div>-->

<mat-button-toggle-group class="card-container" name="fontStyle" aria-label="Font Style">
  <mat-button-toggle>Körperbezogene Pflegemaßnahmen</mat-button-toggle>
  <mat-button-toggle>Hauswirtschaftliche Hilfen</mat-button-toggle>
  <mat-button-toggle>Pflegerische Betreuungsmaßnahmen</mat-button-toggle>
</mat-button-toggle-group>
