
<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle (click)="onNavigateToLeistungsUeberblick()" value="bold">Leistungsüberblick</mat-button-toggle>
  <mat-button-toggle (click)="onNavigateToAuftragSenden()" value="italic">Beratung anfordern</mat-button-toggle>
  <mat-button-toggle (click)="toTermin()" value="underline">Termin vereinbaren</mat-button-toggle>
  <mat-button-toggle (click)="toMitarbeiter()" value="underline">Unsere Mitarbeiter</mat-button-toggle>
</mat-button-toggle-group>
