<h1>Holen Sie Unterstützung durch unsere Mitarbeitet</h1>
<div class="main-container">
  <div class="block">
    <h2>Sozialstation</h2>
    <h3>Ansprechspartner: Sebastian Fuchs</h3>
    <h3>Standort: Sophienstraße 44
      60487 Frankfurt am Main</h3>
    <h3>Telefon: 069 95 14 75 - 0</h3>
    <h3>Email: s.fuchs@kommev.de</h3>
  </div>
  <div class="block">
    <h2>Ambulant Betreutes Wohnen</h2>
    <h3>Ansprechspartner: Rasim Kohaupt</h3>
    <h3>Standort: Große Seestraße 27
      60486 Frankfurt am Main</h3>
    <h3>Telefon:  069 713 74 77 - 0</h3>
    <h3>Email: r.kohaupt@kommev.de</h3>
  </div>
</div>

<div class="notfall-container">
  <h3 class="notfall">Notfall? Kontaktieren Sie uns!</h3>
  <mat-icon class="Phone is-animating">phone_enabled</mat-icon>
</div>

