<div class="main-container">

<h1>Wir bitten die folgenden Leistungen an</h1>
<mat-list role="list">
  <mat-list-item role="listitem">Körperbezogene Pflegemaßnahmen §36 SGB XI (z.B.: Baden, Essen anreichen, Hautpflege, sonstige Anfragen)</mat-list-item>
  <mat-list-item role="listitem">Hilfe bei der Haushaltsführung §36 SGB XI (z.B.: Essen zubereiten, Einkaufen, Aufräumen, sonstige Anfragen</mat-list-item>
  <mat-list-item role="listitem">Pflegerische Betreuungsmaßnahmen §36 SGB XI (z.B. Spaziergang, Begleitung zu Ämten und Institution, Vorlesen, sonstige Anfragen)</mat-list-item>
</mat-list>

  <button (click)="toAuftrag()" mat-flat-button>Beratung Anfordern</button>
</div>
