.main-container {
  width: 47rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    padding: 15px;
    margin: 0.5rem 0;
  }

  mat-list-item {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #18a382;
    border-radius: 15px;
  }

  button {
    background: #18a382;
    color: white;
    font-size: 26px;
    margin: 25px 15px 0 15px;
    width: 255px;
    height: 60px;
    align-self: center;
  }
}
