.dialog {
  display: flex;
  flex-direction: column;
  padding: 15px 0;


  h3 {
    align-self: center;
    text-align: center;
  }
  mat-icon {
    color: #18a382;
    align-self: center;
  }
}
