<mat-toolbar class="toolbar">
<!--  <button mat-icon-button>-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
  <div (click)="onHome()" class="logo">
    <img src="../assets/KOMM_Label_140.png">
  </div>
  <div class="nav-buttons">
  <button (click)="toLeistungsueberblick()" mat-flat-button>Leistungsüberblick</button>
  <button (click)="toAuftragSenden()" mat-flat-button>Antragsformular</button>
  <button  (click)="toMitarbeiter()" mat-flat-button>KOMM e.V. Mitarbeiter</button>
    <button (click)="toTermin()" mat-flat-button>Terminvereinbarung</button>
  </div>
  <div class="background">

  </div>
  <div [ngStyle]="{visibility: showContact ? '' : 'hidden'}" class="contact" (click)="onOpenDialog()">
    <mat-icon>forum</mat-icon>
  </div>
  <div [ngStyle]="{visibility: showDialog ? '' : 'hidden'}" class="dialog">
    <div class="dialog-header">
      <mat-icon (click)="onCloseDialog()">close</mat-icon>
    </div>
    <div class="dialog-list">
      <div class="label">
        <img src="../../assets/KOMM_Label_140.png">
      </div>
      <div class="messages">
        <div class="message-window">
          <p>Willkommen bei Ambulante Dienste KOMM e.V. in Frankfurt</p>
        </div>
        <div class="message-window">
          <p>Was kann ich für Sie tun?</p>
        </div>
      </div>
    </div>
    <div class="user-input">
      <mat-form-field appearance="fill" class="example-full-width">
        <input matInput placeholder="Ihre Nachricht an uns">
        <mat-icon>send</mat-icon>
      </mat-form-field>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
